
* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    display: none;
}

.result .title {
    margin-bottom: 11px;
}

.result button {
    border: 1px solid hsl(217, 16%, 45%);
    padding: 15px 45px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to left, #fff 50%, transparent 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position. 3s ease-out, color .3s ease-out;
}

.result button:hover {
    background-position: left bottom;
    color: #fff;
}

/* Modal section */

.modal-bg {
    display: none;
}

.modal {
    display: none;
}

.rules-btn {
    border: 1px solid hsl(217, 16%, 45%);
    padding: 5px 25px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position. 3s ease-out, color .3s ease-out;
}

.rules-btn:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}